@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
    

    

}

html {
    font-size: 62%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}




.main-nav {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    box-shadow: rgba(40, 50, 87, 0.45) 0px 20px 60px -10px, rgba(0, 0, 0, 0.3) 0px 10px 15px -10px;
    

}

.logo {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 6rem;

}

.menu-link {
    grid-column: 3/4;


}

.menu-link ul {
    display: flex;

    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

}

.menu-link ul  {
    font-size: 1.8rem;
}

.menu-link ul li a {
    text-transform: capitalize;
    color: rgba(0, 0, 3, 0.8);
    transition: 0.5s;
    
}

.menu-link ul li :hover>a {
    transform-origin: left;
    color: blueviolet;
    text-decoration: underline;
    transition: 0.5s;
}

.social-media {
    grid-column: 4/5;
}

.social-media ul {
    display: flex;
    font-size: 19px;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media .hamburger-menu {

    display: none;

}

/*     mainn css    */


.main {
    margin: 45px;
    display: flex;
    align-items: center;
    justify-content: center;


}


.main-txt {
    grid-column: 2/3;

    display: grid;
    align-items: center;
    justify-content: center;
}

.grad {
    font-size: 34px;

}




.wrapper {
    font-size: 5em;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(15), cursor .4s step-end infinite alternate;
}


/* cursor blinking */

@keyframes cursor {
    50% {
        border-color: transparent;
    }


}

@keyframes typing {
    from {
        width: 0;
    }
}


.txt {
    font-size: 19px;

}

.main-img {
    grid-column: 3/4;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    filter: grayscale(200%);
    transition: filter 300ms;
    cursor: pointer;
}

.main-img:is(:hover, :focus) {
    filter: grayscale(0%);
}


.main-img img {
    width: 80%;

}


.social img {

    width: 4rem;

}


.react {
    margin-top: 25px;
    display: flex;


}

.react h3 {
    display: flex;
    align-items: center;

}

.react img {
    margin-left: 15px;
    width: 7rem;
}



/* About Me */



.mid-head{
    display: flex;
    margin: 6rem;
    justify-content: center;
}
.mid-head h2 {
    font-size: 34px;

    
}

.About-me{
    width: 90%;
    margin: auto;

}

.About-me-content{
   width: 100%;
   margin: auto;

}
.About-me h2{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: lighter;
}


.About-me p{

    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
}


.skills{
    position: relative;
    animation: mymove 2.5s ;
    animation-timing-function: linear ease ease-in ease-out ease-in-out;
    height: fit-content;
    background: rgba(153,153,153,.2);
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    color: #666;
}


@keyframes mymove {
    from {left: 300px;}
    to {left: 10px;}
  }


  /* -----Experience----- */

  .container-experience{
    display: flex;
    width: 60%;
    border-radius: 12px;
    margin: auto;
    justify-content: center;
    align-items: center;
    
  }



  .boxx {
    
    width: auto;
    border-radius: 23px;
    margin: auto;
    animation-timing-function: linear ease ease-in ease-out ease-in-out;
  
    
  }

  .boxxx{
    
 
    width: auto;
    border-radius: 23px;
    margin: auto;
    animation-timing-function: linear ease ease-in ease-out ease-in-out;
  
    
  }

  .prog{

    width: auto;
    border-radius: 23px;
    margin: auto;
    animation-timing-function: linear ease ease-in ease-out ease-in-out;

  }
  

  .box-img {
    width: 14rem;
   
  }
   
 .kb-box-img{
    width: 20rem;
    height: 10rem;
    

 } 

/* -----projects----- */


.project-head{

    display: flex;
    margin: 6rem;
    justify-content: center;
}
.project-head h2{
font-size: 34px;
}
.container-card{
    display: flex;
    justify-content: center;

    


}
.card{
    margin: 12px;
    width: 320px;
    height: 500px;
    border-radius: 28px;
    overflow: hidden;
    cursor: pointer;
    border: 8px solid #666 ;
    position: relative;
}

.card-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}


.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
 
}

.card:hover .card-body{
    right: 0;
}

.card-tittle{
   text-transform: uppercase;
   font-size: 30px;
   font-weight: 500;
}

.card-sub-tittle{
    text-transform: capitalize;
    margin: 30px 0;
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.card-button{
    color: black;
     width: 120px;
    background: grey;
    padding: 8px 18px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    font-weight: 600;
    cursor: pointer;
}



.formss{
    max-width: 50rem;
    margin: auto;
 
}

.contact-input{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    input[type="submit"]{
        cursor: pointer;
    }
}



input , textarea{
    max-width: 50rem;
    color: grey;
    padding: 1.6rem 2.4rem;
    border: 1px solid;
    text-transform: uppercase;
    box-shadow: 2px solid black;

}

input[type="submit"]{
    max-width: 9rem;
    background-color: black;
    padding: 0.5rem 1.2rem;
    border-style: solid;

    border-width: .1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    cursor: pointer;
    
}

/* ----footer----- */

.footer{
    width: 100%;
    height: 5rem;
    display: flex;
    background-color: black;
    
}

.foot-txt{

    color: white;
     font-size: 15px;
     text-transform: lowercase;
     margin: auto;
     
}


















@media (max-width: 998px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }


    .menu-link {
        display: none;
    }

    .logo,
    .social-media ul {
        height: 7rem;
    }

    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }

    .mobile-menu-link {
        background-color: white;
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        transition: all 5ms linear;
        padding-left: 3rem;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        ;

    }

    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }

    .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
    }

    .social-media {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: center;
        align-items: center;
        transition: all 5ms linear;
    }

    .social-media .social-media-desktop {
        height: 0;
        display: none;
    }

    .social-media {
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }


    .social-media .hamburger-menu {
        display: block;
        font-size: 3.5rem;
    }

    .social-media ul{
        display: none;
    }

    .main{
        display: flex;
        flex-direction: column-reverse;
    }


    .main-txt{
        font-size: 3.5px;
    }

    .grad{
        font-size: 15px;

    }

    .social img {

        width: 2rem;
    

    }

    .About-me{
        display: flex;
        flex-direction: column;
      
        

    }


    .container-skills{
        width: fit-content;
        height: max-content;
    
    }
    
    .skills{
        position: relative;
        animation: mymove 2.5s ;
        animation-timing-function: linear ease ease-in ease-out ease-in-out;
        height: fit-content;
        background: rgba(153,153,153,.2);
        border-radius: 3px;
        font-weight: 600;
        font-size: 10px;
        color: #666;
    }

    .mid-head{
        display: flex;
        margin: 22px;
        justify-content: center;
    }
    .mid-head h2 {
        font-size: 20px;
    
        
    }

    
    .About-me-content{
       width: 100%;
    
    
    }
    .About-me h2{
        text-transform: capitalize;
        font-size: 15px;
    
    }
    
    
    .About-me p{
    
        font-size: 12px;
        text-transform: capitalize;
        letter-spacing: 2px;
    }

    .project-head{

        display: flex;
        margin: 20px;
        justify-content: center;
    }
    .project-head h2{
    font-size: 20px;
    }

    .card{
        margin: 1px;
        width: 160px;
        height: 250px;
        border-radius: 28px;
        overflow: hidden;
        cursor: pointer;
        border: 4px solid #666 ;
        position: relative;
    }
    
    .card-img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        
    }

    .container-card{

        display: flex;
        flex-wrap: wrap;
       
   
       }
    
    
    .card-body{
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        position: absolute;
        backdrop-filter: blur(5px);
        border-radius: 15px;
        color: black;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
    }

    .card:hover .card-body{
    right: 0;
}

.card-tittle{
   text-transform: uppercase;
   font-size: 10px;
   color: black;
   font-weight: 500;
}

.card-sub-tittle{
    text-transform: capitalize;
    font-size: 7px;
    color: black;
    font-weight: 600;
}

.card-button{
    color: black;
    width: auto;
    padding: 4px 9px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.container-experience{
    display: flex;
    flex-direction: column;

  }
  .boxx {
    
    width:  auto;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  
    
  }

  .boxxx {
    
    width:  auto;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    
  }

  

  

  .box-img {
    width: 5rem;
    
  }

  .kb-box-img{
    width: 12rem;
    height: 4rem;
        
    

  }


  .spiders-co {
    margin: 23px;
    align-items: center;
  }

  formss{
    max-width: 20rem;
    margin: auto;
}

.contact-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input[type="submit"]{
        cursor: pointer;
    }
}



input , textarea{
    max-width: 45rem;
    margin-left: 26px;
    color: black;
    padding: 1.4rem 2.2rem;
    border: 1px solid;
    max-width: 34rem;
    text-transform: uppercase;
    box-shadow: 2px solid black;

}

input[type="submit"]{
    max-width: 8rem;
    background-color: gray;
    padding: 0.5rem 1.2rem;
    border-style: solid;
    border-width: .1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    cursor: pointer;
    
}

.main-img {
    grid-column: 3/4;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    color: aqua;
    cursor: pointer;
}






   

}